/**
 * Module: MainMenu.css
 * Team: Group7
 * Description: Own customized css file for mainmenu
 * Author:
 *  	 Name: Dongwon(Shawn) Kim    Date: 2017-11-06
 * Modified by:
 *  	 Name: Dongwon(Shawn) Kim   Changes: loading styled Date: 2017-12-08
 * Based on:
 * https://www.w3schools.com/howto/howto_css_animate_buttons.asp
**/
#MainContent_Button_New_Game {
    background: url(/Content/Images/ui/buttonNormal.png) no-repeat 0 0;
    border: 0;
    background-size: 100%;
    width: 20%;
    height: 65px;
    color: #ffffff;
    font-weight: 600;
}

    #MainContent_Button_New_Game:hover {
        background: url(/Content/Images/ui/buttonPressed.png) no-repeat 0 0;
        border: 0;
        background-size: 100%;
        width: 20%;
        height: 65px;
        color: #ffffff;
        font-weight: 600;
        outline: none;
        border-color: #9ecaed;
        box-shadow: 0 0 10px #ffd800;
    }

#MainContent_Button_Load_Game {
    background: url(/Content/Images/ui/buttonNormal.png) no-repeat 0 0;
    border: 0;
    background-size: 100%;
    width: 20%;
    height: 65px;
    color: #ffffff;
    font-weight: 600;
}

    #MainContent_Button_Load_Game:hover {
        background: url(/Content/Images/ui/buttonPressed.png) no-repeat 0 0;
        border: 0;
        background-size: 100%;
        width: 20%;
        height: 65px;
        color: #ffffff;
        font-weight: 600;
        outline: none;
        border-color: #9ecaed;
        box-shadow: 0 0 10px #ffd800;
    }

#MainContent_Button_Credits {
    background: url(/Content/Images/ui/buttonNormal.png) no-repeat 0 0;
    border: 0;
    background-size: 100%;
    width: 20%;
    height: 65px;
    color: #ffffff;
    font-weight: 600;
}

#MainContent_Button_Credits:hover {
    background: url(/Content/Images/ui/buttonPressed.png) no-repeat 0 0;
    border: 0;
    background-size: 100%;
    width: 20%;
    height: 65px;
    color: #ffffff;
    font-weight: 600;
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #ffd800;
}

#MainContent_Button_Load_Back:hover {
    background: url(/Content/Images/ui/buttonPressed.png) no-repeat 0 0;
    border: 0;
    background-size: 100%;
    width: 20%;
    height: 65px;
    color: #ffffff;
    font-weight: 600;
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #ffd800;
}

#MainContent_Button_Load_Back {
    background: url(/Content/Images/ui/buttonNormal.png) no-repeat 0 0;
    border: 0;
    background-size: 100%;
    width: 20%;
    height: 65px;
    color: #ffffff;
    font-weight: 600;
}

#load {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    /*    background: url("../Images/ui/loading.gif") no-repeat center center rgba(0,0,0,0.25);*/
    background: url("https://www.creditmutuel.fr/cmne/fr/banques/webservices/nswr/images/loading.gif") no-repeat center center rgba(0,0,0,0.25);
}

#load p {
    font-size: x-large;
    position: absolute;
    top: 40%;
    left: 42%;
    color: #ffffff;
}

.center {
    margin: auto;
    padding: 10px;
}

.center_text {
    text-align: center;
}